.single-character-column {
    padding: 10px;
    text-align: center;
    margin: auto;
    width: auto;
    display: block;
}

.list-group {
    max-height: 300px;
    margin-bottom: 10px;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}

.region-selection-button {
    background-color: #333a40;
    color: white;
}

    .region-selection-button:hover {
        background-color: #3bacfe;
        color: white;
    }


    .region-selection-button.active {
        background-color: #0094ff;
        color: white;
    }
