@{
    ViewData["Title"] = "CharacterCompaler";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<h3>@ViewData["CharacterData"]</h3>

<p>Use this area to provide additional information.</p>
<h4></h4>
