@{
    ViewData["Title"] = "Character Compaler";
}

<h2>This is Character Compaler view!</h2>


<div class="input-group">
    <div class="input-group-prepend">
        <span class="input-group-text">Character Name:</span>
    </div>
    <input type="text" aria-label="FirstCharacterName" class="form-control">
    <button type="button" class="btn btn-secondary btn-sm pull-left">Confirm</button>
    
</div>