@{
    ViewData["Title"] = "Home Page";
}

<form asp-controller="CharacterComparator" asp-action="Index">
    <button type="submit" class="btn btn-primary btn" style="margin: 25px">
        Go go character comparator >
    </button>
</form>
