@{
    ViewData["Title"] = "Home Page";
}

<form asp-controller="CharacterComparator" asp-action="Index">
    <div class="jumbotron">
        <h2 class="display-4">Welcome</h2>
        <p class="lead">Our website allows you to compare any World of Warcraft character to other!</p>
        <hr class="my-sm-1">
        <p>If you want to check who is stronger, you or perhaps your friend check the comparer by clicking button below.</p>

        <button type="submit" class="btn btn-primary btn">
            Take me to Comparator!
        </button>
    </div>
</form>


