@{
    ViewData["Title"] = "Login";
}

<link rel="stylesheet" href="~/css/login-page.css" />

@using (Html.BeginForm("Authenticate", "Login", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div id="login-form-holder">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-md-4 control-label" for="textinput">Username</label>
                <div class="col-md-4">
                    <input id="textinput" name="textinput" type="text" placeholder="Username" class="form-control input-md">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label" for="passwordinput">Password</label>
                <div class="col-md-4">
                    <input id="passwordinput" name="passwordinput" type="password" placeholder="Password" class="form-control input-md">
                    <font size="2"><a asp-area="" asp-controller="Login" asp-action="PasswordRecovery">Forgot Password?</a></font>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label" for="singlebutton"></label>
                <div class="col-md-4">
                    <button asp-controller="Login" asp-action="Authenticate" id="singlebutton" name="singlebutton" class="btn btn-primary">Login</button>
                </div>
            </div>
        </form>
    </div>
}
