@{ var userID = ViewBag.Message;}

@using (Html.BeginForm("PasswordChanged", "Login", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div id="login-form-holder">
        <form class="form-horizontal">
            <center><p><font size="3"> Password Reset </font></p></center>
            <div class="form-group">
                <label class="col-md-4 control-label" for="userNewPassword">New Password</label>
                <div class="col-md-4">
                    <input id="newPasswordInput" name="newPassword" type="password" placeholder="New Password" class="form-control input-md">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label" for="userNewPasswordConfirmation">Confirmation</label>
                <div class="col-md-4">
                    <input id="newPasswordConfirmationInput" name="newPasswordConfirmation" type="password" placeholder="Confirmation" class="form-control input-md">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label" for="userID"></label>
                <div class="col-md-4">
                    <input id="userIDFromViewBag" name="userID" value="@userID" type="hidden">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label" for="singlebutton"></label>
                <div class="col-md-4">
                    <button id="singlebutton" name="singlebutton" class="btn btn-primary">Update Password</button>
                </div>
            </div>
        </form>
    </div>
}