@{
    ViewData["Title"] = "CharacterComparatorView";

    HashSet<string> realmListTest = new HashSet<string>()
    {
        "burning-legion"
    };
}

<h2>CharacterComparatorView</h2>


<form action="CompareResult" method="post">
    
    Regions
    @Html.DropDownList("Region",
                 new SelectList(WowCharComparerLib.Enums.EnumDictonaryWrapper.regionsWrapper.Keys))

    Realms
    @Html.DropDownList("Realm", new SelectList(realmListTest), "Select realm", new { onchange = })


    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">Characters Name:</span>
        </div>
        <div class="form-inline">

            <input name="firstNickToCompare"
                   type="text"
                   aria-label="FirstCharacterName"
                   class="form-control"
                   placeholder="Write nick to compare"
                   style="width: 200px" />
        </div>
        <input name="secondNickToCompare"
               type="text"
               aria-label="FirstCharacterName"
               class="form-control"
               placeholder="Write nick to compare"
               style="width: 200px" />

        <button type="submit"
                class="btn btn-secondary btn-sm pull-left">
            Pass nickname
        </button>
    </div>
</form>